@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  scrollbar-color: #000007;
  
}

body.overflow-y-hidden {
  overflow-y: hidden !important;
}

.blur-overlay {
  z-index: 50 !important 
 
}

.mobile-menu {
  z-index: 200 !important;
 
}

.modal-open {
  overflow: hidden;
}

.menu-open {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206);
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  background-color: #01020a;
}



.arrow-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.arrow-up.show {
  opacity: 1;
  transform: translateY(0);
}